@import "grid.less";

@font-face{
	font-family:'thinskinned';
	src:url('../fonts/thin_skinned-webfont.eot'); 
	src:url('../fonts/thin_skinned-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/thin_skinned-webfont.woff2') format('woff2'),
		url('../fonts/thin_skinned-webfont.woff') format('woff'),
		url('../fonts/thin_skinned-webfont.ttf') format('truetype'),
		url('../fonts/thin_skinned-webfont.svg#thin_skinnedregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media (min-width: @screen-lg-min), (min-width: @screen-md-min), (min-width: @screen-sm-min){
	.container {
		width: 1080px;
		width: 100%;
	}
}

	#frame .row {
		background-color: #fff;
	}
	
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #83747b;
	padding: 280px 100px 0 100px;
	margin: 0 0 0 0;
	font-family:'Foundry Origin W01';
}

	body.home {
		padding: 600px 100px 0 100px;
	}
	
	@media screen and (max-width:1024px) {
		body,
		body.home {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	
	@media screen and (max-width:767px) {
		body,
		body.home {
			padding-left: 0;
			padding-right: 0;
		}
		body.home {
			padding-top: 420px;
		}
	}

select, textarea, input, button { outline: none; }

a,
a img,
.header__logo,
img,
.ani,
button { 
transition: all 375ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
-webkit-transition: all 375ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
-moz-transition: all 375ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
-webkit-transform: translate3D(0,0,0);
        -ms-transform: translate3D(0,0,0);
    transform: translate3D(0,0,0);
		/*
	transition: all 650ms cubic-bezier(0.465, 0.183 0.153, 0.946);
	-webkit-transition: all 650ms cubic-bezier(0.465, 0.183 0.153, 0.946);
	-moz-transition: all 650ms cubic-bezier(0.465, 0.183 0.153, 0.946); 
	*/
}

/*
Buttons
*/
.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	height: 44px;
	width: auto;
	padding: 0 20px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	font-family: 'thinskinned';
	white-space: nowrap;	
}
	.button--purple {
		background-color: #68365b;
		color: #fff;
	}
	
		.button--purple:hover {
			background-color: #5a2e4e;	
		}
		
	.button--green {
		background-color: #395034;
		color: #fff;
	}
	
		.button--green:hover {
			background-color: #2c3e28;	
		}
	
	.button--center {
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	
		@media screen and (max-width: 767px) {
			.button--center {
				margin-left: 0;
				-webkit-transform: none;
				    -ms-transform: none;
				        transform: none;
				width: 100%;
			}
		}
	
	.button--arrow {
		padding-right: 55px;
	}
	
	.button--arrow:after {
		content: '';
		position: absolute;
		width: 44px;
		height: 44px;
		top: 0;
		background-image: url('../img/cd_button_arrow.svg');
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	.article__button {
		display: inline-block;
	    -webkit-appearance: none;
	    background-color: #010102;
	    -moz-appearance: none;
	    border: none;
	    height: 34px;
	    width: auto;
	    padding: 9px 10px;
	    text-decoration: none;
	    text-transform: uppercase;
	    font-weight: 300;
	    letter-spacing: 1px;
	    font-size: 18px;
	    line-height: 18px;
	    cursor: pointer;
	    font-family: 'thinskinned';
	    white-space: nowrap;
	    color: #fff;
	    margin-left: 20px;
	}
	
	.article--agendadefault .article__button {
		position: relative;
		float: left;
		margin-left: 15px;
		background-color: #8da997;
		color: #fff;
	}
	
	@media screen and (max-width:767px) {
		.article__button {
			margin-left: 0;
		}
		.article__button + .article__button {
			margin-left: 20px;
		}
	}
	
	.article--agendadefault .article__button:hover {
		background-color: #010102;
	}
	
	.tickets__wrapper .article__button {
		margin-left: 0;
	}
	
	.article__button:hover {
		background-color: #8da997;
	}
	
	.article__button--more {
		background-color: #f4f4f4;
		color: #010102;
	}
	
	.article--agendaarchive:hover .article__button--more,
	.article__button--more:hover {
		color: #fff;
		background-color: #8da997;
	}


/*
Headers
*/
#header {
	position: fixed;
	height: 280px;
	overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

	#headervisual {
		position: fixed;
		height: 280px;
		background-color: #e6e3e5;
		overflow: hidden;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: -1;
		-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	    backface-visibility: hidden;
	}

		body.home #header,
		body.home #headervisual {
			height: 600px;
		}
		
		@media screen and (max-width:767px) {
			body.home #header,
			body.home #headervisual {
				height: 420px;
			}			
		}
		
	.header__visual__wrapper {
		position: relative;
		float: left;
		width: 100%;
		height: 100%;
	}
	
		.header__visual__wrapper:before {
			content: '';
			position: absolute;
			left: -15px;
			right: -15px;
			bottom: 0;
			z-index: 1;
			height: 150px;
			background: -moz-linear-gradient(top, rgba(1,1,2,0) 0%, rgba(1,1,2,1) 100%);
			background: -webkit-linear-gradient(top, rgba(1,1,2,0) 0%,rgba(1,1,2,1) 100%);
			background: linear-gradient(to bottom, rgba(1,1,2,0) 0%,rgba(1,1,2,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00010102', endColorstr='#010102',GradientType=0 );
		}

	.header__visual {
		position: absolute;
		left: 50%;
		top: 50%;
		width: auto;
		min-width: 100%;
		height: auto;
		z-index: 0;
		min-height: 100%;		
		-webkit-transform: translate(-50%,-50%);		
		    -ms-transform: translate(-50%,-50%);		
		        transform: translate(-50%,-50%);
	}
	
	.header__logo {
		position: absolute;
		top: 40px;
		left: 75px;
		width: 195px;
		height: 145px;
		z-index: 5;
	}
	
		body.logo--hidden .header__logo {
			opacity: 0;
		}		
	
		@media screen and (max-width:1024px) {
			.header__logo {
				width: 175px;
				left: 30px;
				top: 50px;			
			}
			.header__logo img {
				width: 100%;
				height: auto;
			}
		}
		
		@media screen and (max-width: 1023px) {
			.header__logo {
			    width: 140px;
			    top: 10px;	
			}
			body.home .header__logo {
				top: 40px;
			}
		}
		
		@media screen and (max-width: 767px) {
			body.home .header__logo,
			body .header__logo {
				top: auto;
				bottom: 20px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				    -ms-transform: translateX(-50%);
				        transform: translateX(-50%);
			}
		}
	
		.header__logo h1 {
			margin: 0 0 0 0;
		}
	
		.header__logo svg {
			position: relative;
			float: left;
			width: 100%;
			height: auto;
		}
	
	.header__social {
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: auto;
		z-index: 3;
		background-color: #7e9a86;
	}
	
		@media screen and (max-width: 767px) {
			.header__social {
				display: none;
			}
		}
		
		.header__social a {
			position: relative;
			float: left;
			width: 50px;
			height: 50px;
			text-align: center;
			padding: 12px 0 0 0;
		}
				
			.header__social a:nth-child(2) {
				padding: 15px 0 0 0;
			}
		
			.header__social a:last-child { 
				border: none;
			}
			
			.header__social a:hover {
				background-color: #677e6e;
			}
			
			.header__social a.lang {
				font-size: 11px;
				color: #fff;
				text-decoration:none;
				padding-top: 10px;
				text-align: left;
				padding-left: 16px;
				background-color: #000;
				color: #fff;
			}
			
			.header__social a.lang strong {
				font-size: 14px;
				position: relative;
				float: left;
				width: 100%;
				clear: both;
			}
			
			.header__social a.lang:hover {
				background-color: #fff;
				color: #7e9a86;
			}
			
			.header__languages {
				position: relative;
				float: left;
				width: 100%;
				background-color: #83747B;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
				list-style-type: none;
				width: 100%;
			}
			
				.header__languages__current {
					position: relative;
					float: left;
					width: 100%;
					background-color: #68365B;
					padding: 14px 18px;
					color: #fff;
					text-transform: uppercase;
					font-weight: 300;
					letter-spacing: 1px;
					font-size: 20px;
					line-height: 20px;
					font-family: 'thinskinned';
					cursor: pointer;
				}
				
					.header__languages__current:hover {
						background-color: #000;
					}
				
					.header__languages__current:after {
						content: '';
						width: 16px;
						height: 20px;
						background-image: url(../img/cb_arrow_down.svg);
						background-repeat: no-repeat;
						background-position: center center;
						z-index: 1;
						position: absolute;
						right: 18px;
					}
					
					.header__languages li {
						position: relative;
						float: left;
						width: 100%;
						color: #fff;
						text-transform: uppercase;
						font-weight: 300;
						letter-spacing: 1px;
						font-size: 20px;
						line-height: 20px;
						font-family: 'thinskinned';
						padding: 11px 18px;
						border-bottom: 1px solid rgba(255,255,255,.5);
						display: none;
					}
					
					.header__languages li a {
						padding: 0 0 0 0;
						color: #fff;
						text-align: left;
						width: 100%;
						height: 100%;
						text-decoration: none;
					}
					
						.header__languages li.current {
							color: rgba(255,255,255,.5);
						}
					
						.header__languages li a:hover {
							color: #000;
							background: transparent;
						}
	
	.header__menu {
		position: absolute;
		bottom: 72px;
		left: 0;
		right: 0;
		padding-bottom: 25px;
		z-index: 1;
	}
	
		@media screen and (max-width: 1023px) {
			body:not(.home) .header__menu {
				padding-right: 50px;
			}
		}
	
		body.home .header__menu {
			bottom: 100px;			
		}
		
	.header__tagline {
		position: absolute;
		bottom: 270px;
		left: 0;
		right: 0;
		z-index: 0;
		text-align: center;
	}
	
		@media screen and (max-width:767px) {
			.header__tagline {
				display: none;
			}
		}
		
		.header__tagline h2 {
		    text-transform: uppercase;
		    font-weight: 300;
		    letter-spacing: 1px;
		    font-size: 53px;
		    line-height: 53px;
			color: #fff;
		    font-family: 'thinskinned';
		    margin-bottom: 10px;
		}
		
		.header__tagline h3 {
		    text-transform: uppercase;
		    font-weight: 300;
		    letter-spacing: 1px;
		    font-size: 24px;
		    line-height: 30px;
			color: #fff;
		    font-family: 'thinskinned';
		    margin-top: 0;
		}
		
		.header__tagline button {
			position: inline-block;
			width: auto;
			padding: 12px 18px;
			font-weight: 500;
			font-size: 15px;
			line-height: 15px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-family: 'Foundry Origin W01';
			border-radius: 50px 50px 50px 50px;
			color: #fff;
			text-decoration: none;
			background-color: #7e9a86;
			border:0px;
			//border: 1px solid #fff;
			cursor: pointer;
		}
		
			.header__tagline button:hover {
				background-color: #677e6e;
				border-color: #7e9a86;
			}
		
	.button__back {
		position: fixed;
		top: 280px;
		right: 0;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		width: 100px;
		height: 100px;
		z-index: 0;
		background-color: #8da997;
		background-image: url('../img/cb_icon_back.svg');
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center center;
	}
	
		@media screen and (max-width: 1024px) {
			.button__back {
				width: 50px;
				height: 50px;
			}
		}
	
		.button__back:hover {
			background-color: #677e6e;
		}

/*
Wrappers
*/
#frame {
	z-index: 1;
}
#frame .wrapper {
	position: relative;
	float: left;
	width: 100%;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	height: auto;
	background-color: #fff;
	z-index: 5;
	padding: 45px 45px;
}

@media (min-width: @screen-md-min), (min-width: @screen-sm-min) {
	#frame .wrapper {
		max-width: 1080px;
	}
}

@media (min-width: @screen-lg-min) {
	#frame .wrapper {
		max-width: 1440px;
	}
}
	
	#frame .wrapper__project {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	
	
	#frame .wrapper--project:before,
	#frame .wrapper__project:after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 42%;
		z-index: 0;
		background-color: #e5e5e5;
	}
	
	@media screen and (max-width:767px) {
		#frame .wrapper--project:before,
		#frame .wrapper__project:after {
			display: none;
		}
	}
	
	#frame .wrapper--project {

	}

	#frame .row {
		margin-top: -65px;
	}

	@media (max-width: @screen-sm-max) {
		#frame .wrapper {
			padding: 45px 0px;
		}
	}

	@media screen and (max-width: 767px) {
		#frame .wrapper {
			padding: 45px 15px;
		}
	}


	body.home #frame .row {
		margin-top: -100px;
	}
	
	@media screen and (max-width:767px) {
		#frame .row,
		body.home #frame .row {
			margin-top: 0;
		}
	}
/*
Menu
*/
.header__menu .menu {
	list-style-type: none;
	width: auto;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-align: center;
}

	@media screen and (max-width:1023px) {
		body:not(.home) .header__menu .menu {
			text-align: right;
		}
	}

	.header__menu .menu li {
		display: inline-block;
		margin: 0 8px 0 8px;
		padding: 0 0 0 0;
	}
	
	.header__menu .menu li a {
		position: relative;
		float: left;
		width: auto;
		padding: 12px 18px;
		font-weight: 500;
		font-size: 15px;
		line-height: 15px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family:'Foundry Origin W01';
		border-radius: 50px 50px 50px 50px;
		color: #fff;
		text-decoration: none;
		background-color: transparent;
		border: 1px solid #fff;
	}
	
		.header__menu .menu li.current-menu-item a,
		.header__menu .menu li.current-menu-parent a,
		.header__menu .menu li a:hover {
			background-color: #8da997;
			border-color: #8da997;
		}
		
/*
Typography headers
*/
.header {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	margin: 0 0 32px 0;
	color: #010102;
	font-family:'Foundry Origin W01';
}

	.header--margin {
		margin-bottom: 52px;
	}

/*
Loop items: agenda
*/
.article {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	text-decoration: none;
	color: #010102;
}

	.article--agendasimple {
		background-color: #f6f6f6;
		padding-bottom: 20px;
		margin-bottom: 40px;
	}
	
	.article--agendadefault {
		background-color: #f6f6f6;
		padding-bottom: 20px;
	}
	
	@media screen and (max-width: 767px) {
		body.home .article--agendadefault {
			margin-bottom: 40px;
		}
	}
	
	.article--archiveproject {
		margin-bottom: 60px;
	}

	.article:hover h3 {
		text-decoration: underline;
	}
	
	.article:hover .article__visual__wrapper img {
		opacity: .6;
	}
	
	.article--blogdefault {
		padding-top: 17px;
		border-top: 1px solid #010102;
	}
	
	body.category-blog .article--blogdefault {
		padding-bottom: 36px;
	}
	
	.article--projectsimple {
		background-color: #010102;
		margin-bottom: 30px;
	}
	
	.agenda__items__homepage {
		position: relative;
		float: left;
		width: 100%;		
		margin: 45px 0 0 0;
	}
	
	/*
	.agenda__items__homepage .col-md-3:nth-child(1) .article--agendasimple {
		padding: 0 30px 0 0;
	}
	.agenda__items__homepage .col-md-3:nth-child(2) .article--agendasimple {
		padding: 0 15px 0 15px;
	}
	.agenda__items__homepage .col-md-3:nth-child(3) .article--agendasimple {
		padding: 0 15px 0 15px;
	}
	.agenda__items__homepage .col-md-3:nth-child(4) .article--agendasimple {
		padding: 0 0 0 30px;	
	}
	*/
	
	.article .article__visual__wrapper {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		background-color: #010102;
	}
	
	.article img {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}
		
		.article--agendaproject .article__visual__wrapper:before,
		.article--archiveproject .article__visual__wrapper:before,
		.article--projectsimple:before {
			content: '';
			z-index: 1;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(135deg, rgba(87,108,132,1) 0%,rgba(87,108,132,0) 55%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576c84', endColorstr='#00576c84',GradientType=1 );
		}
		
		.article--agendaproject .article__visual__wrapper:after,
		.article--archiveproject .article__visual__wrapper:after,
		.article--projectsimple:after {
			content: '';
			z-index: 1;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 75px;
			background: -moz-linear-gradient(top, rgba(1,1,2,0) 0%, rgba(1,1,2,1) 100%);
			background: -webkit-linear-gradient(top, rgba(1,1,2,0) 0%,rgba(1,1,2,1) 100%);
			background: linear-gradient(to bottom, rgba(1,1,2,0) 0%,rgba(1,1,2,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00010102', endColorstr='#010102',GradientType=0 );
		}
		
		.article--projectsimple:hover img {
			opacity: .6;
		}
	
		.article time + img,
		.article time + .article__visual__wrapper {
			margin-top: -40px;
		}

		.article.article--agendadefault time + a .article__visual__wrapper {
			margin-top: -40px;
		}

	
	.article time {
		position: relative;
		float: left;
		width: 100%;
		width: auto;
	    background-color: #1a171b;
	    text-align: center;
	    padding: 7px 15px;
	    font-size: 16px;
	    line-height: 16px;
	    color: #fff;
	    font-family:'Foundry Origin W01';
	    margin: 0 0 25px 0;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	    z-index: 5;
	    white-space: nowrap;
	}
		
		.article--agendasimple time {
			margin-top: -15px;
		}
		
		.article--archiveproject time,
		.article--agendaproject time,
		.article--agendadefault time {
			width: auto;
			margin-top: -20px;
			margin-left: 50%;
			-webkit-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
	
	.article .article__meta {
		position: relative;
		float: left;
		width: 100%;
		font-size: 12px;
		margin-bottom: 7px;
	}
	
	.article .article__labels {
		position: relative;
		float: left;
		width: 100%;
		margin: 0 0 20px 0;
		pointer-events: none;
	}
	
		.article .article__visual__wrapper + .article__labels,
		.article img + .article__labels {
			margin-top: 20px;
		}
	
	.single__article__labels label,
	.article label {
		font-family:'Foundry Origin W01';
		text-transform: uppercase;
		font-size: 10px;
		line-height: 16px;
		text-align: center;
		position: relative;
		float: left;
		width: 100%;
		padding: 0 20px;
	}
	
	.article--agendauitgelicht label {
		position: absolute;
		left: 10px;
		background-color: #010102;
		width: auto;
		top: 0;
		z-index: 2;
		padding: 5px 15px;
		color: #fff;
	}
	
		.tickets__wrapper {
			position: relative;
			float: left;
			width: 100%;
			padding-bottom: 30px;
		}
	
		
		.single__article__labels {
			margin-bottom: 26px;
			padding: 0 0 0 0;
			position: relative;
			float: left;
			width: 100%;
		}
		
		.single__article__labels label { 
			text-align: left; 
			padding: 0 0 0 0;
		}
	
	.single__article__labels .article__tags,
	.article .article__tags {
		position: relative;
		float: left;
		width: 100%;
		margin: -10px 0 16px 0;
	}
	
		.article__tags span {
			display: inline-block;
			margin: 0 5px 0 0;
		    font-family: 'Foundry Origin W01';
		    text-transform: uppercase;
		    font-size: 10px;
		    line-height: 16px;	
		}
		
	.article h3 {
		position: relative;
		float: left; 
		width: 100%;
	    font-size: 20px;
	    line-height: 26px;
	    font-weight: 600;
	    margin: 0 0 0 0;
	    font-family:'Foundry Origin W01';
	}

		.article--blogdefault h3 {
			font-size: 34px;
			line-height: 42px;
			margin-bottom: 22px;
		}
		
		.article--archiveproject h3,
		.article--agendaproject h3 {
			color: #fff;
			position: absolute;
			bottom: 23px;
			left: 15px;
			font-size: 30px;
			line-height: 36px;
			z-index: 2;
			width: 80%;
		}
		
		.article--projectsimple h3 {
			color: #fff;
			position: absolute;
			bottom: 12px;
			left: 0px;
			font-size: 24px;
			line-height: 26px;
			z-index: 3;
		}
		
	.article p {
		position: relative;
		float: left;
		width: 100%;
		font-size: 16px;
		line-height: 24px;

	}
		
		.article h3,
		.article p {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.article--blogdefault h3,
		.article--blogdefault p {
			padding-left: 0;
			padding-right: 0;
		}
	
	.article.article--agendaarchive {
		margin: 0 0 30px 0;
		color: #010102;
	}
	
	.article.article--agendadefault h3,
	.article.article--agendadefault p,
	.article.article--agendadefault .article__labels,
	.article.article--agendaarchive h2,
	.article.article--agendaarchive p,
	.article.article--agendaarchive .article__labels {
		color: #010102;
	}
	
	.article--agendaarchive.static {
		
	}
		
	.article.article--agendaarchive .article__agenda__visual {
		position: relative;
		float: left;
		width: 35%;
		max-height: 300px;
		overflow: hidden;
		background-color: #010102;
	}
	
	.article.article--agendaarchive .article__agenda__visual img {
		margin-top: 50%;
		-webkit-transform: translate3d(0,-50%,0);
		        transform: translate3d(0,-50%,0);
		
		
	}
	
	.article.article--agendauitgelicht {
		margin-bottom: 20px;
	}
	
	@media screen and (max-width: 767px ) {
		.article.article--agendauitgelicht {
			width: 45%;
		}
		.article.article--agendauitgelicht:nth-child(odd) {
			float: right;
		}
	}
	
	.article.article--agendauitgelicht .article__agenda__visual {
		background-color: #010102;
		position: relative;
		float: left;
	}
	
	.article.article--agendauitgelicht .article__agenda__visual label {
		position: absolute;
		left: 15px;
		background-color: #1a171b;
		width: auto;
		z-index: 1;
		color: #fff;
		padding: 4px 5px;
	}
	
	.article.article--agendauitgelicht:hover .article__agenda__visual img {
		opacity: .6;
	}
	
	.article.article--agendauitgelicht .article__agenda__visual h2 {
		color: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 24px;
		z-index: 2;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	@media screen and (max-width: 767px) {
		.article.article--agendauitgelicht .article__agenda__visual h2 {
			font-size: 19px;
		}
	}
	
	.article.article--agendauitgelicht .article__agenda__visual:before {
		content: '';
		z-index: 1;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 175px;
		background: -moz-linear-gradient(top, rgba(1,1,2,0) 0%, rgba(1,1,2,1) 100%);
		background: -webkit-linear-gradient(top, rgba(1,1,2,0) 0%,rgba(1,1,2,1) 100%);
		background: linear-gradient(to bottom, rgba(1,1,2,0) 0%,rgba(1,1,2,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00010102', endColorstr='#010102',GradientType=0 );
	}
	
	@media screen and (max-width:767px) {
		.article.article--agendaarchive .article__agenda__visual {
			width: 100%;
		}
	}
	
	.article.article--agendaarchive time {
		position: absolute;
		left: 0;
		width: 150px;
		height: auto;
		padding: 27px 0;
	}
	
		.article.article--agendaarchive time span {
			position: relative;
			float: left;
			width: 100%;
			text-align: center;
			margin: 0 0 0 0;
		}
		
		.article.article--agendaarchive time span.date,
		.article.article--agendaarchive time span.year,
		#frame .agenda__single__top time .year {
			font-size: 24px;
			line-height: 30px;
			text-align: center;
			width: 100%;
			position: relative;
			float: left;
		}
				
	.article.article--agendaarchive .article__agenda__details {
		position: relative;
		float: left;
		width: 65%;
		padding-top: 5px;
	}
	
		@media screen and (max-width:767px) {
			.article.article--agendaarchive .article__agenda__details {
				width: 100%;
			}
		}
	
		.article.article--agendaarchive .article__agenda__details h2 {
			padding-left: 20px;
			padding-right: 20px;
			font-size: 32px;
			line-height: 42px;
			margin-bottom: 0px;
			margin-top: 0;
			position: relative;
			float: left;
			width: 100%;
		}
		
		.article.article--agendaarchive .article__agenda__details p {
			padding-left: 20px;
			padding-right: 20px;
		}
	
		@media screen and (max-width:767px) {
			.article.article--agendaarchive .article__agenda__details .article__labels label,
			.article.article--agendaarchive .article__agenda__details h2,
			.article.article--agendaarchive .article__agenda__details p {
				padding-left: 0;
				padding-right: 0;
			}
		}
	
		.article.article--agendaarchive .article__agenda__details .article__labels {
			position: relative;
			float: left;
			width: 100%;
			height: auto;
			text-align: left;
			margin: 0 0 7px 0;
		}
		
		.article.article--agendaarchive .article__agenda__details .article__labels label {
			text-align: left;
		}
		
		.article.article--agendaarchive:hover .article__agenda__details h2 {
			text-decoration: underline;
		}
		
		.article.article--agendaarchive:hover .article__agenda__visual img {
			opacity: .6;
		}

.agenda__filter {

}

	.filter__wrapper {
		position: relative;
		float: left;
		width: 100%;
		padding: 0 0 40px 0;
	}

	select[name=filter] {
		margin: 0 40px 0 0;
		height: 34px;
		padding: 0 85px 0 15px;
		border-radius: 50px 50px 50px 50px;
		border: 1px solid #1f1f1f;
		border-radius: 50px;
		-webkit-appearance: none;
		-moz-appearance: none;
		color: #1f1f1f;
		background-color: #fff;
	    font-size: 15px;
	    line-height: 15px;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-family: 'Foundry Origin W01';
	    font-weight: 600;
		background-image: url('../img/cb_dropdown_arrow.svg');
		background-position: right center;
		background-repeat: no-repeat;	    
	}
	
	@media screen and (max-width: 768px) {
		select[name=filter] {
			margin: 0 20px 0 0;
		}
	}
	
	@media screen and (max-width: 767px) {
		select[name=filter] {
			margin: 0 0 20px 0;
			width: 100%;
		}
	}
	
	input[type=checkbox][name=showstatic] {
		display: none;
	}
	
	input[type=checkbox][name=showstatic] + label {
		padding-left: 30px;
	    font-size: 13px;
	    line-height: 13px;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-family: 'Foundry Origin W01';
	    font-weight: 600;
	}
	
	input[type=checkbox][name=showstatic] + label:before {
		content: '';
		position: absolute;
		margin-left: -30px;
		width: 22px;
		height: 23px;
		background-image: url('../img/cb_checkbox_unchecked.svg');
		background-position: center center;
		background-repeat: no-repeat;
		margin-top: 5px;
	}
	
	@media screen and (max-width:767px) {
		input[type=checkbox][name=showstatic] + label:before {
			margin-top: -1px;
		}
	}
	
		input[type=checkbox][name=showstatic]:checked + label:before {
			background-image: url('../img/cb_checkbox_checked.svg');	
		}

/*
Loop items: blogartikelen
*/
.blog__items__homepage {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}

/*
Loop items: projecten
*/
		
.projecten__items__homepage {
	position: relative;
	float: left;
	width: 100%;
	background-color: #e5e5e5;
	padding: 40px 0 47px 0;
}

	.projecten__items__homepage:after {
		content: '';
		position: absolute;
		right: -45px;
		width: 45px;
		height: 100%;
		top: 0;
		background-color: #e5e5e5;
	}
	
	.projecten__items__homepage:before {
		content: '';
		position: absolute;
		left: -45px;
		width: 45px;
		height: 100%;
		top: 0;
		background-color: #e5e5e5;
	}
	
	@media (max-width: @screen-sm-max) {
		.projecten__items__homepage:after {
			right: -25px;
			width: 25px;
		}
		.projecten__items__homepage:before {
			left: -25px;
			width: 25px;
		}
	}

	@media screen and (max-width: 767px) {
		.projecten__items__homepage:after,
		.projecten__items__homepage:before {
			display: none;
		}
	}
	
/*
Content: homepage
*/
.content__homepage {
	position: relative;
	float: left;
	width: 100%;
	padding: 70px 0 0 0;
}

.content__homepage .button {
	position: relative;
	float: left;
	clear: both;
	margin: 0 0 14px 0;
	padding-top: 13px;
	text-decoration: none;
}

.content__homepage h3 {
	color: #010102;
	text-transform: uppercase;
	font-family: 'thinskinned';
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
}

	.content__homepage div[class*=col-]:nth-child(2) h3 {
		color: #68365b;
		font-family: 'Foundry Origin W01';
		text-transform: none;
		font-weight: 700;
	}

.content__homepage p {
	font-size: 15px;
	line-height: 21px;
}

	.content__homepage > p:first-of-type {
		font-size: 17px;
		line-height: 23px;
	}
	
	.content__homepage div[class*=col-]:nth-child(2) {
		color: #68365b;
	}
	
.content__homepage__fblikes {
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	color: #010102;
	text-transform: uppercase;
	font-family: 'thinskinned';
	font-weight: 400;
	font-size: 12px;
}

	.facebook_counter {
		display: inline-block;
		color: #68365b;
	}
	
/*
Content: Single
*/
.content > *:not(.inline__visual):not(ul) {
	padding-left: 9%;
	padding-right: 9%;
}

.content > ul {
	padding-left: 12%;
	padding-right: 12%;
}

	@media screen and (max-width:767px) {
		.content>*:not(.inline__visual) {
			padding-left: 0;
			padding-right: 0;
		}
	}

.content h1.header {
	text-align: left;
	font-family: 'Foundry Origin W01';
	font-size: 46px;
	font-weight: 700;
	color: #010102;
	text-transform: none;
	margin: 7px 0 18px 0;
}

body.page .content h1.header {
	margin: 7px 0 35px 0;
}

	@media screen and (max-width: 767px) {
		body.page .content h1.header {
			font-size: 36px;
		}
	}

.content .article__meta {
	margin: 0 0 40px 0;
	font-size: 14px;
}

.content .inline__visual {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin: 0 0 40px 0;
}

.content ul li,
.content ol li,
.content table td,
.content table th,
.content p {
    font-size: 15px;
    line-height: 21px;
}

.content ul li,
.content ol li {
	margin-bottom: 12px;
}

.content a:not(.subpage__button):not(.article__button) {
	color: #68365B;
}

	.content a:not(.subpage__button):hover {
		color: #010102;
		text-decoration: none;
	}

.content > p:first-of-type {
	font-size: 17px;
	line-height: 23px;
}

.content blockquote p {
	font-size: 32px;
	line-height: 38px;
	font-style: italic;
}

	@media screen and (max-width:1023px) {
		.content blockquote {
			margin-left: 0;
			margin-right: 0;			
		}
		
		.content blockquote p {
			font-size: 28px;
			line-height: 34px;
		}
	}
	
	@media screen and (max-width:767px) {
		.content blockquote p {
			font-size: 24px;
			line-height: 30px;
		}
	}

.content .article__share {
	position: relative;
	float: left;
	width: 100%;
	margin: 30px 0 0 0;
	text-decoration: none;
}

	.content .article__share a {
		position: relative;
		float: left;
		width: 40px;
		height: 40px;
		padding: 0 0 0 0;
		margin: 0 10px 0 0;
		text-align: center;
		padding: 6px 0 0 0;
		background-color: #664012;
	}
	
	.content .article__share a.share__twitter {
		padding-top: 10px;
	}
	
	.content .article__share a:hover {
		background-color: #4e320f;
	}

.content__subpages {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 35px 0;
}

.subpage__button {
	padding: 12px 18px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Foundry Origin W01';
    border-radius: 50px 50px 50px 50px;
    color: #010102;
    text-decoration: none;
	display: inline-block;
	width: auto;
	border: 1px solid #010102;
	margin-bottom: 5px;
}
	.subpage__button.current-menu-item,
	.subpage__button:hover {
		border-color: #8da997;
		background-color: #8da997;
		color: #fff;	
	}
	
	@media screen and (max-width:767px) {
		.subpage__button {
			margin-bottom: 10px;
			width: 100%;
			font-size: 13px;
		}
	}



/*
Single: agenda
*/
.agenda__single__top {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	background-color: #e5e5e5;
	padding: 0 0 0 0;
}

	#frame .agenda__single__top .wrapper {
		background-color: transparent;
	}
	
	#frame .agenda__single__top .single__article__labels {
		margin: 0 0 0 0;
	}
	
	#frame .agenda__single__top .single__article__labels label {
		font-size: 12px;
		line-height: 18px;
	}
	
	#frame .agenda__single__top .tickets__wrapper {
		padding-bottom: 0;
		padding-top: 26px;
	}
	
	#frame .agenda__single__top time {
		width: auto;
		background-color: #010102;
		padding: 22px;
		color: #fff;
		margin: -45px 0 20px 9%;
		position: relative;
		clear: both;
		display: inline-block;
	}
		
		#frame .agenda__single__top time .date,
		#frame .agenda__single__top time .day {
			width: 100%;
			text-align: center;
			display: block;
			clear: both;
		}
		
		#frame .agenda__single__top time .date {
			font-size: 24px;
		}
		
		.article.article--agendaarchive time span.date--end:before,
		#frame .agenda__single__top time span.date--end:before {
			content: '';
			display: block;
			margin-left: 50%;
			transform: translateX(-50%);
			margin: 10px 50% 5px 50%;
			width: 20px;
			height: 1px;
			background-color: #fff;
		}

	
.project__single__bottom,
.agenda__single__bottom {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	background-color: #e5e5e5;
	padding: 0 0 0 0;
}
	
	#frame .project__single__bottom .wrapper,
	#frame .agenda__single__bottom .wrapper {
		background-color: transparent;
		padding-top: 65px;
		padding-bottom: 0;
	}
	
	#frame .project__single__bottom .wrapper {
		padding-top: 0;
		padding-bottom: 45px;
	}

	#frame .project__single__bottom h4,
	#frame .agenda__single__bottom h4 {
		font-weight: 400;
		font-size: 20px;
		margin: 0 0 46px 0;
	}

/*
Single: project
*/
.project__content__header__wrapper {
	position: relative;
	float: left;
	width: 100%;
	height: 60vh;
	overflow: hidden;
}

	.project__content__header__wrapper:before {
	    content: '';
	    z-index: 1;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    height: 125px;
		background: -moz-linear-gradient(top, rgba(1,1,2,0) 0%, rgba(1,1,2,1) 100%);
		background: -webkit-linear-gradient(top, rgba(1,1,2,0) 0%,rgba(1,1,2,1) 100%);
		background: linear-gradient(to bottom, rgba(1,1,2,0) 0%,rgba(1,1,2,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00010102', endColorstr='#010102',GradientType=0 );
	}

	.single__header__title {
		position: absolute;
		width: 100%;
		text-align: center;
		color: #fff;
		font-size: 48px;
		font-family: 'Foundry Origin W01';
		bottom: 15px;
		z-index: 3;
	}

	@media screen and (max-width:767px) {
		.single__header__title {
			font-size: 40px;
			bottom: 0px;
		}
	}

	@media screen and (max-width: 1023px ) {
		.project__content__header__wrapper {
			height: 40vh;
		}
	}
	
	@media screen and (max-width: 767px) {
		.project__content__header__wrapper {
			height: auto;
		}
	}

	.project__content__header {
		position: absolute;
		width: auto;
		max-width: 102%;
		height: auto;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
	}
	
	@media screen and (max-width: 767px) {
		.project__content__header {
			position: relative;
			float: left;
			width: 100%;
			height: auto;
			left: auto;
			top: auto;
			-webkit-transform: none;
			    -ms-transform: none;
			        transform: none;
			max-width: 100%;
		}
	}
	
/*
Single: project
*/
.content--project {
	z-index: 2;
	position: relative;
	float: left;
	width: 100%;
	padding-left: 27px;
}

	@media screen and (max-width:1023px) {
		.content--project {
			padding-left: 0;
		}
	}

	@media screen and (max-width:767px) {
		.content--project {
			margin-top: 40px;
		}
	}
	
	.content--project dl {
		position: relative;
		float: left;
		width: 100%;
	}
	
	.content--project dt {
		display: inline-block;
		width: 100%;
		text-transform: uppercase;
		font-size: 12px;
		color: #8CA896;
		padding-bottom: 5px;
	}
	
	.content--project dd {
		display: inline-block;
		margin: 0 0 0 0;
		width: 100%;
		font-size: 14px;
		padding-bottom: 30px;
	}
	
		.content--project dd a {
			text-decoration: none;
			color: #000;
		}
		
		.content--project dd a:hover {
			text-decoration: underline;
		}
	
	.content--project dd h3 {
		margin: 0 0 0 0;
		font-weight: 500;
		font-size: 36px;
	}
	
		@media screen and (max-width:1023px) {
			.content--project dd h3 {
				font-size: 30px;
			}
		}
	
/*
Footer
*/
#footer {
	position: relative;
	float: left;
	width: 100%;
	padding: 40px 0 60px 0;
	background-color: #83747b;
}

	@media screen and (max-width:767px) {
		#footer {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.form__text {
		color: #fff;
		text-transform: uppercase;
		font-family: 'thinskinned';
		font-weight: 400;
		font-size: 16px;
		padding: 6px 0 0 0;
	}
	
	@media screen and (max-width: 767px) {
		.form__text {
			padding: 6px 0 20px 0;
		}
	}
	
.footer__credits {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 80px;
}

	.footer__credits label {
		color: #fff;
		text-transform: uppercase;
		font-family: 'thinskinned';
		font-weight: 400;
		font-size: 16px;
		position: absolute;
	}
	
	.footer__credits .partner__logo {
		display: inline-block;
		margin-right: 20px;
		margin-top: -30px;
	}
	
		@media screen and (max-width: 767px) {
			.footer__credits .partner__logo {
				height: 40px;
			}
		}
	
	.footer__credits a .partner__logo:first-of-type {
		margin-left: 120px;
	}
	
	.footer__credits .partner__logo--alt {
		float: right;
		margin-top: -16px;
	}
	
	@media screen and (max-width: 767px) {
		.footer__credits label {
			position: relative;
			float: left;
			width: 100%;
			padding-bottom: 20px;
		}
		
		.footer__credits .partner__logo:first-of-type {
			margin-left: 0;
		}
		
		.footer__credits .partner__logo {
			margin-top: 0;	
		}
		 
		.footer__credits .partner__logo--alt {
			float: left;
			margin: 30px 0 0 0;
		}
	}


/*
Newsletter form
*/	
body img.gform_ajax_spinner {
    display: none!important;
}

.form__wrapper .gform_validation_container {
	display: none;
}

.form__wrapper .gform_fields {
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 100%;
}

.form__wrapper .gform_body {
	position: relative;
	float: left;
	width: 90%;
}

.form__wrapper .gform_footer {
	position: relative;
	float: left;
	width: 10%;
	background-color: #fff;
}

.form__wrapper .gfield_label {
	display: none;
}

.form__wrapper .gfield_description.validation_message {
	color: #fff;
	width: auto;
	display: inline-block;
	background-color: #bd4646;
	padding: 5px 10px;
	font-size: 14px;
}

.form__wrapper .gfield input[type=text],
.form__wrapper .gfield input[type=email] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #fff;
	border: none;
	width: 100%;
	height: 50px;
	border-radius: 0 0 0 0;
	color: #010102;
	text-transform: uppercase;
	font-family: 'thinskinned';
	font-weight: 400;
	font-size: 20px;
	color: #8CA896;
	padding-left: 15px;
	padding-right: 15px;
}

.form__wrapper .gform_footer input[type=submit] {
	width: 50px;
	height: 50px;
	background-color: #66400c;
	border-radius: 0 0 0 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	color: #fff;
	float: right;
}

	.form__wrapper .gform_footer input[type=submit]:hover {
		background-color: #4e320f;
	}
	
	.form__wrapper .gforms_confirmation_message {
		position: relative;
		float: left;
		width: 100%;
		color: #fff;
		background-color: #395034;
		height: 50px;
		padding: 16px 10px 10px 10px;
		text-align: center;
	}
	
	.form__wrapper .validation_error {
		display: none;
		position: relative;
		float: left;
		width: 100%;
		color: #fff;
		background-color: #bd4646;
		height: 50px;
		padding: 16px 10px 10px 10px;
		text-align: center;
	}
	
/*
Mobile
*/

.mobile__button {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #809886;
	width: 60px;
	height: 60px;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	z-index: 10;
	background-image: url('../img/cb_mobile_icon.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 21px;
}


.mobile__canvas {
	position: fixed;
	top: 0;
	right: -300px;
	bottom: 0;
	width: 300px;
	background-color: #809886;
	z-index: 8;
}

	.mobile__menu__wrapper {
		position: relative;
		float: left;
		width: 100%;
		padding: 10px 15px 30px 15px;
	}
	
		.mobile__menu__wrapper ul {
			position: relative;
			float: left;
			width: 100%;
			list-style-type: none;
			padding: 0 0 0 0;
		}
		
			.mobile__menu__wrapper ul li {
				position: relative;
				float: left;
				width: 100%;
				height: auto;
			}
			
			.mobile__menu__wrapper ul li a {
				border-bottom: 1px solid rgba(255,255,255,.5);
				position: relative;
				float: left;
				width: 100%;
				padding: 10px 0;
				color: #fff;
				text-decoration: none;
				font-weight: 500;
				font-size: 15px;
				line-height: 15px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-family: 'Foundry Origin W01';
			}
				
				.mobile__menu__wrapper ul li.current_page_parent a,
				.mobile__menu__wrapper ul li.current-menu-item a {
					color: #010102;
				}
			
			.mobile__menu__wrapper ul li > ul {
				display: none;
			}

body.home .mobile__canvas .header__social,
.mobile__canvas .header__social {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	min-height: 0px;
	background-color: transparent;
}

body.home .mobile__canvas .header__social a,
.mobile__canvas .header__social a {
	width: 45px;
	height: 60px;
	padding-top: 18px;
	border: none;
}

.mobile__canvas .header__social a.lang,
body.home .mobile__canvas .header__social a.lang {
	width: 50px;
}

.mobile__canvas .header__social a:nth-child(2),
body.home .mobile__canvas .header__social a:nth-child(2) {
	padding-top: 21px;
}


.mobile__canvas .header__social a img {
	opacity: .65;
}

body.canvas--visible {
	#frame,#headervisual,#footer {

	}
	.mobile__canvas {
		right: 0;
	}
	.mobile__button {
		background-image: url('../img/cb_mobile_close.svg');
	}
}

.page-intro {
	margin-bottom: 40px;
	h2 {
		font-family: 'thinskinned';
		font-weight: 400;
-webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
	}
	article {
		-webkit-columns: 100px 2; /* Chrome, Safari, Opera */
		-moz-columns: 100px 2; /* Firefox */
		columns: 100px 2;
		 -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
		 -moz-column-gap: 40px; /* Firefox */
		 column-gap: 40px;
		 @media (max-width: @screen-sm) {
			-webkit-columns: auto; /* Chrome, Safari, Opera */
			-moz-columns: auto; /* Firefox */
			columns: auto;
		 }
		 p {
			 &:nth-child(2) {
				 margin-top: 0;
			 }
		 }
	}
}